@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

.topo{ 
    width: 100%;          
    height: 100px;
    background-color: orange;
    text-align: center;
}
#titulo1{
    padding-top: 30px;
}

.corpo{
    width: 100%;
}
.lista{
    width: 25%;
}

.artigo{
    width: 50%;
}
.branco{
    width: 25%;
}