@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

p{
    padding: 10px;
    text-align: justify;
}

.topo{ 
    width: 100%;          
    height: 100px;
    background-color: orange;
    text-align: center;
}
#titulo1{
    padding-top: 30px;
}
.corpo{
    width: 100%;
}

.cidade{
    width: 25%;
    float: left;
}

@media only screen and (max-width: 800px){
    .cidade{
        width: 50%;
        float: left;
    }
}
@media only screen and (max-width: 600px){
    .cidade{
        width: 100%;
        float: left;
    }
}